@import url('https://fonts.googleapis.com/css?family=Jua');
html,body {
  margin: 0;
  background-color: #333;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.infinite-scroll-component {
  overflow : hidden !important;
}

.ui.card {
  background-color : rgba(247,218,177, 0.8) !important;
}
